/**
 * Footer
 */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;  
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  min-height: 10%;
  color: $medium-grey;
  padding-left: 0;
  font-size: 0.75em;
  
  span {
    flex: 0 1 auto;
  }
}
