/**
 * Header
 */
header {
  min-height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;  

  #header-wrapper {
      display: flex;     
      flex-direction: column;
      align-items: center;

      label {
          padding-bottom: 0.5 * $base-spacing-unit;
      }

      span {

          &.left {
              padding-bottom: $base-spacing-unit;
          }

          &.right {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-bottom: $base-spacing-unit;

              @include tablet {
                  padding-left: 2 * $base-spacing-unit;
              }
              
              @include desktop {
                  padding-left: 5 * $base-spacing-unit;
              }
          }
      }

      @include tablet {            
          flex-direction: row;
      }

      @include desktop {
          padding-left: 2 * $base-spacing-unit;
      }
  }

  #logo {
      width: $logo-width-large;
      height: auto;
  }

  &.shrink {
      min-height: 10%;

      #header-wrapper {
          flex-direction: column;

          @include tablet {
              flex-direction: row;
              
              span {
                  &.right {
                      padding-left: 5 * $base-spacing-unit;
                  }
              } 
          }           
      }

      #logo {
          width: $logo-width-medium;
          padding-top: $base-spacing-unit;

          @include tablet {
              width: $logo-width-small;
              padding-top: 0;
          }
      }
  }    

  @include desktop {
      justify-content: left;
  }
}
