/**
 * Font and spacing sizes
 */
$base-spacing-unit: 1em;

/**
 * Colours
 */
$primary-color: #000;
$font-color: #FFF;

/**
 * Responsive breakpoint dimensions
 */
$tablet-width: 768px;
$desktop-width: 1024px;
