/**
 * Author: Michael Borromeo
 */

/**
 * Define Partials 
 */
@import 'normalize'; /* CSS Reset */
@import 'variables'; 
@import 'mixins';

/* use border-box for everything */
* { 
	box-sizing: border-box; 
}

html {       
    font-size: 100%; /* 16px */
    background-color: $primary-color;
    color: $base-font-color;
}

body {
    font-family: 'OpenSansLight', sans-serif;
}

html, body {
    height: 100%;
}

header {
    min-height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;  

    #header-wrapper {
        display: flex;     
        flex-direction: column;
        align-items: center;

        label {
            padding-bottom: 0.5 * $base-spacing-unit;
        }

        span {

            &.left {
                padding-bottom: $base-spacing-unit;
            }

            &.right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: $base-spacing-unit;

                @include tablet {
                    padding-left: 2 * $base-spacing-unit;
                }
                
                @include desktop {
                    padding-left: 5 * $base-spacing-unit;
                }
            }
        }

        @include tablet {            
            flex-direction: row;
        }

        @include desktop {
            padding-left: 2 * $base-spacing-unit;
        }
    }

    #logo {
        width: $logo-width-large;
        height: auto;
    }

    &.shrink {
        min-height: 10%;

        #header-wrapper {
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                
                span {
                    &.right {
                        padding-left: 5 * $base-spacing-unit;
                    }
                } 
            }           
        }

        #logo {
            width: $logo-width-medium;
            padding-top: $base-spacing-unit;

            @include tablet {
                width: $logo-width-small;
                padding-top: 0;
            }
        }
    }    

    @include desktop {
        justify-content: left;
    }
}

footer {
    min-height: 10%;
    color: $medium-grey;
    padding-top: 2 * $base-spacing-unit;
    padding-left: 0;
    text-align: center;    
    
    @include desktop {
        padding-left: 2 * $base-spacing-unit;
        text-align: left;
    }
}

#loader {
    display: flex;
    width: 50px;
    height: auto;
    margin: 0 auto;
}

#stories {
    min-height: 0;
    display: none;

    &.expand {
        min-height: 80%;        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-size: 1em;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        flex-wrap: wrap;

        li {
            margin: 0;
            padding: 0;
            overflow: hidden;

            flex: 0 1 100%;
            max-width: 100%;

            @include tablet {
                flex: 0 1 33.33%;
                max-width: 33.33%;
            }

            // @include desktop { OR
        	@media screen and (min-width: $desktop-width) {
                flex: 0 1 25%;
                max-width: 25%;
            }

            figure {
                position: relative;
                margin: 0;

                img {
                    display: block;
                    width: 100%;        
                    height: 45vh;                    
                    background-position: 50%;
                    background-size: cover;
                    object-fit: cover;
                    transition: transform .5s cubic-bezier(0.25,0.1,0.25,1.0);
                }

                figcaption {
                    opacity: 0;
                    background-color: $primary-color;
                    color: $base-font-color;
                    position: absolute;
                    z-index: 2;
                    bottom: 0;
                    width: 100%;
                    height: 50%;
                    padding-left: $base-spacing-unit;
                    padding-right: $base-spacing-unit;
                    text-overflow: ellipsis;
                    transition: opacity .5s cubic-bezier(0.25,0.1,0.25,1.0);
                }

                &:hover {
                    figcaption {
                        opacity: 0.8;
                    }

                    img {
                        transform: scale(1.10);
                    }
                }
            }
        }
    }    
}

/* 
#stories {
    ul { 
        li {
            flex: 0 1 100%;
            max-width: 100%;

            @media screen and (min-width: $desktop-width) {
                flex: 0 1 25%;
                max-width: 25%;
            }
        }
    }
}

is equivalent to 

#stories ul li {
    flex: 0 1 100%;
    max-width: 100%;
}

@media screen and (min-width: $desktop-width) {
    #stories ul li {
        flex: 0 1 25%;
        max-width: 25%;
    }
}
*/